<form>
    <h1>Journal Options</h1>
    <div class="form-group"
        title="Leave empty to place directly into the journal. Any folder name will be created if it does not already exist.">
        <label>Top Journal Folder <i class="far fa-question-circle"></i></label>
        <input type='text' name="rootFolderName" value="{{rootFolderName}}" />
    </div>

    <div class="form-group">
        <label>Vault Folder</label>
        <input type="file" id="{{idPrefix}}vaultFiles" webkitdirectory directory multiple required />
    </div>
    <div class="form-group"
        title="If there already exists an entry with the same name in the folder, it will be overwritten.">
        <label>Overwrite existing journal entries? <i class="far fa-question-circle"></i></label>
        <input type="checkbox" name="overwrite" id="{{idPrefix}}overwrite" {{#if overwrite}}checked{{/if}}>
    </div>

    <div class="form-group" id="{{idPrefix}}ignoreDuplicateDiv" {{#if overwrite}}style="display: none;" {{/if}}
        title="If there already exists an entry with the same name in the folder, do not import the note. If left unchecked, a copy will be imported without overwriting the original.">
        <label>Skip duplicate incoming notes? <i class="far fa-question-circle"></i></label>
        <input type="checkbox" name="ignoreDuplicate" {{#if ignoreDuplicate}}checked{{/if}}>
    </div>

    <div class="form-group" title="Players will have the Observer permission on all notes within.">
        <label>Give all players permission to observe? <i class="far fa-question-circle"></i></label>
        <input type="checkbox" name="playerObserve" id="{{idPrefix}}playerObserve" {{#if playerObserve}}checked{{/if}}>
    </div>

    <div class="form-group"
        title="Creates a journal that links to all journal entries, grouped by the first level of folders under the root. If it already exists, it updates it.">
        <label>Create/Update index journal? <i class="far fa-question-circle"></i></label>
        <input type="checkbox" name="createIndexFile" id="{{idPrefix}}createIndexFile" {{#if
            createIndexFile}}checked{{/if}}>
    </div>

    <div class="form-group"
        title="Each journal will have a 'References' section appended that links to journals reference it in their normal content.">
        <label>Create backlinks? <i class="far fa-question-circle"></i></label>
        <input type="checkbox" name="createBacklinks" id="{{idPrefix}}createBacklinks" {{#if
            createBacklinks}}checked{{/if}}>
    </div>

    <h1>Non-Markdown Options</h1>
    <div class="form-group" title="Non-markdown files, like images, will be loaded to the game server or S3.">
        <label>Import non-markdown files? <i class="far fa-question-circle"></i></label>
        <input type="checkbox" name="importNonMarkdown" id="{{idPrefix}}importNonMarkdown" {{#if
            importNonMarkdown}}checked{{/if}}>
    </div>

    <div id="{{idPrefix}}nonMarkdownOptions" {{#if importNonMarkdown}}{{else}}style="display: none;" {{/if}}>
        <div class="form-group"
            title="The folder on the server where non-markdown files will be uploaded. If using S3, this is the folder path in the bucket. Defaults to 'img' if empty.">
            <label for="mediaFolder">Upload Path <i class="far fa-question-circle"></i></label>
            <input type='text' name="mediaFolder" placeholder="images/lavaflow" value="{{mediaFolder}}" />
        </div>

        <div class="form-group" title="Non-markdown files will be uploaded to S3.">
            <label>Use S3 for non-markdown files? <i class="far fa-question-circle"></i></label>
            <input type="checkbox" name="useS3" id="{{idPrefix}}useS3" {{#if useS3}}checked{{/if}}>
        </div>

        <div id="{{idPrefix}}s3Options" {{#if useS3}}{{else}}style="display: none;" {{/if}}>
            <h3>S3 Options</h3>

            <div class="form-group">
                <label for="s3Bucket">S3 Bucket</label>
                <input type='text' name="s3Bucket" placeholder="my-bucket" value="{{s3Bucket}}" />
            </div>
            <div class="form-group">
                <label for="s3Region">S3 Region</label>
                <input type='text' name="s3Region" placeholder="us-west-1" value="{{s3Region}}" />
            </div>
        </div>
    </div>

    <button type="submit"><i class="fas fa-upload"></i> Import</button>
</form>